@font-face {
    font-family: 'Monaspace Argon Var';
    src: url('../fonts/Monaspace Argon Var.ttf');
}

@font-face {
    font-family: 'Monaspace Krypton Var';
    src: url('../fonts/Monaspace Krypton Var.ttf');
}

@font-face {
    font-family: 'Monaspace Neon Var';
    src: url('../fonts/Monaspace Neon Var.ttf');
}

@font-face {
    font-family: 'Monaspace Xenon Var';
    src: url('../fonts/Monaspace Xenon Var.ttf');
}
