.slidev-layout {
    padding-top: 1.3rem;
    padding-bottom: 2.5rem;
    padding-left: 2rem;
    padding-right: 1.3rem;
    font-size: 1rem;
}

.slidev-layout h1 + p {
    margin-top: -1.05rem;
    margin-bottom: 0.5rem;
    opacity: 0.5;
}

.slidev-layout p {
    margin-top: 0rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

#slidev-goto-dialog .autocomplete-list {
  display: none;
}

#slidev-goto-dialog:not(.-top-20) .autocomplete-list {
  display: block;
}

.katex,
.katex .mathnormal,
.katex .mathrm,
.katex .mathit,
.katex .mathbf,
.katex .boldsymbol,
.katex .mathbb,
.katex .mathcal,
.katex .mathfrak,
.katex .mathsf,
.katex .mathtt {
  font-family: "IBM Plex Math", "KaTeX_Main", serif;
}
